@model string
<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="text-gray text-uppercase">Thank you for ordering at the shop</h1>
        <h3 class="text-primary text-uppercase">Your order @Model awaiting confirmation, You will receive the goods in a few days</h3>
    </div>
    <img width="600px" src="https://cdn.dribbble.com/users/2127137/screenshots/6231707/dribbble-payment-boy.gif" />
    <a href="/" class="btn btn-outline-primary text-uppercase">Return to the shop</a>
</div>