.full-height {
    height: 100vh;
}

.form-container {
    min-width: 600px;
}

@media (min-width: 576px) {
    .form-container {
        min-width: 476px;
    }
}

@media (min-width: 768px) {
    .form-container {
        min-width: 668px;
    }
}

@media (min-width: 304px) {
    .form-container {
        min-width: 280px;
    }
}

@media (min-width: 992px) {
    .form-container {
        min-width: 892px;
    }
}

@media (min-width: 1200px) {
    .form-container {
        min-width: 600px;
    }
}
